@import url('reset.css');

body{
    background-image: url('../picture/BG.jpg');
    background-color: rgb(168, 168, 0);
    background-blend-mode:hard-light;
    width: 100%;
    background-size: cover;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    line-height: 1.6;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}

/*---------------Top-------------------*/
header{
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    /* 用fixed不會占空間 */
    z-index: 100;
}
.top{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top img{
    height: 60px;
    margin-top: 10px;
}

.top li{
    float: left;
    margin-top: 21px;
    margin-right: 20px;
    font-size: 20px;
    display: block;
}


.top li a:hover{
    color: #d38900;
}

.menu-icon{
    display: none;
}
.menu-icon.-on{
    background-color:#b45100;
    border-radius:10%;
    height:30px;
    width:45px;                
    box-shadow: 1px 1px 1px 1px inset #482000;                            
    padding-left: 5px;
}

/* ----------------關於阿雪-------------- */
main{
    margin: 0 auto;
}
.block{
    width: 1263px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.block .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all 1s;
}
.container img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
}
.block .shift .btn{
    position: absolute;
    margin: 350px auto;
    top: 0;
    bottom: 0;
    background-color: rgba(166, 61, 236, 0);
    color: rgb(255, 108, 3);

    width: 100px;
    height: 100px;

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0);
    user-select: none;
}
.block .shift .btn:hover{
    background-color: rgba(180, 180, 180, 0.235);
}
.block .shift .left{
    cursor: pointer;
    left: 20px;
}
.block .shift .right{
    cursor: pointer;
    right: 20px;
}
.bottom{
    position: absolute;
    left: 550px;
    bottom: 50px;
    display: flex;
    gap: 10px;
}
.bottom .inctr{
    height: 5px;
    width: 40px;
    border: rgba(0, 0, 0, 0);
    background-color: rgba(83, 83, 83, 0.454);
    cursor: pointer;
}
.bottom .inctr:hover{
    background-color: rgba(157, 126, 1, 0.71);
}
/* --------------故事------------------ */
.story{
    margin: 200px auto;
    width: 1200px;
}
.story ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.story h1{
    text-align: center;
    font-size: 60px;
    writing-mode: vertical-rl;
}

.story p{
    font-size: 32px;
    margin: 0 50px;
    line-height: 2;
    letter-spacing: 15px;
    height: 552px; 
    writing-mode: vertical-rl;
}
 .img{
    width:500px; 
    height:600px; 
    border-radius:50%;
    filter: brightness(80%) sepia(40%);
    animation-name: grandma; 
    animation-duration: 10s; 
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.895);
    animation-iteration-count: infinite;
}
@keyframes grandma { 
     0%{
        background-image: url('../picture/about-grandma-top_1.jpg');
      }
      50% {
        background-image: url('../picture/about-grandma-top_3.JPG');
        background-position: center center;
      }
      100% {
        background-image: url('../picture/about-grandma-top_1.jpg');
        
      }
}

/* ----------------美食介紹-------------- */
.food{
    margin: 0 auto 200px;
    width: 100%;
    height: 100%; 
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
}
.food ul{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
.food ul li{
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 135px 0;
}

.food img{
    margin: 100px 0px 100px;
}
.food p{
    margin: 0px 0px 100px;
}
.fir {
    width: 380px;
    background-repeat: no-repeat;
    background-image: url('../picture/soup-big.jpg');
    background-size: cover;
    background-position: center center;
    
}
.fir img{
    margin: 115px 0px 90px;
}
.f1{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fir:hover{
    transform: scale(1.05 ,1.1);
    transition: .3s .03s;
}
.f1:hover{
    transform: scale(1.1);
    transition: .3s .03s;
}
.sec {
    width: 380px;
    background-repeat: no-repeat;
    background-image: url('../picture/thick-soup-noodle.jpg');
    background-size: cover;
    background-position: center center;
}
.sec img{
    margin: 115px 0px 90px;
}
.sec:hover{
    transform: scale(1.05 ,1.1);
    transition: .3s .03s;
}
.f2:hover{
    transform: scale(1.1);
    transition: .3s .03s;
}
.f2{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thr {
    width: 380px;
    background-repeat: no-repeat;
    background-image: url('../picture/hot-big.png');
    background-size: cover;
    background-position: center center;
}
.thr img{
    margin: 118px 0px 90px;
}
.thr:hover{
    transform: scale(1.05 ,1.1);
    transition: .3s .03s;
}
.f3:hover{
    transform: scale(1.1);
    transition: .3s .03s;
}
.f3{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fou {
    width: 380px;
    background-image: url('../picture/dish-big.png');
    background-size: cover;
    background-position: center center;
}
.fou img{
    margin: 120px 0px 90px;
}
.fou:hover{
 
    transform: scale(1.05 ,1.1);
    transition: .3s .03s;
}
.f4:hover{
    transform: scale(1.1);
    transition: .3s .03s;
}
.f4{
    
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fit:hover{
    transform: scale(1.05,1.1);
    transition: .3s .03s;
}
.f5:hover{
    transform: scale(1.05 ,1.1);
    transition: .3s .03s;
}
.fit {
    width: 380px;
    background-repeat: no-repeat;
    background-image: url('../picture/dry-big.jpg');
    background-size: cover;
    background-position: bottom center;
}
.fit img{
    margin: 120px 0px 90px;
}
.f5{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---------------------news------------- */
.news{
    margin: 140px auto 200px;
    width: 100%;
}
.news h1{
    writing-mode: vertical-rl;
    font-size: 64px;
    background-color: rgba(245, 147, 0, 1);
    width: 45px;
    height: 260px;
    position: relative;
}
.news h1 span{
    position: absolute;
    top: -1px;
    left: -60px;
}
.news ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}
.news li{
    margin-left: 55px;
}
.news a{
    color: black;
    display: flex;
}
/* -----news1------- */
.news1 img{
    width: 240px;
    height: 160px;
    display: block;
    margin-bottom: 10px;
}
.date1{
    position: relative;
}
.date1 .my{
    font-size: 16px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: #c27e01;
}
.date1 .d{
    position: absolute;
    font-size: 40px;
    top: 5px;
    left: 0;
    color: #c27e01;
}
.news1 p{
    float: right;
    width: 167px;
}
/* -----news2------- */
.news2 img{
    width: 240px;
    height: 160px;
    display: block;
    margin-bottom: 10px;
}
.date2{
    position: relative;
}
.date2 .my{
    font-size: 16px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: #c27e01;
}
.date2 .d{
    position: absolute;
    font-size: 40px;
    top: 5px;
    left: 0;
    color: #c27e01;
}
.news2 p{
    width: 50px;
    float: right;
    width: 150px;
}
/* -----news3------- */
.news3 img{
    width: 240px;
    height: 160px;
    display: block;
    margin-bottom: 10px;
}
.date3{
    position: relative;
}
.date3 .my{
    font-size: 16px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: #c27e01;
}
.date3 .d{
    position: absolute;
    font-size: 40px;
    top: 5px;
    left: 0;
    color: #c27e01;
}
.news3 p{
    width: 50px;
    float: right;
    width: 140px;
}
/* ----------------vedio--------------- */
.vedio{
    margin: 0 auto;
    width: 940px;
    display: flex;
    margin-bottom: 200px;
}
.vedio h1{
    writing-mode: vertical-rl;
    font-size: 64px;
    background-color: rgba(245, 147, 0, 1);
    width: 45px;
    height: 260px;
    position: relative;
}
.vedio h1 span{
    position: absolute;
    top: -1px;
    left: -60px;
}
.vedio iframe{
    margin: 0 auto;
}
/* ----------------map--------------- */
.map{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 200px;
}
.info h1{
    writing-mode: vertical-rl;
    font-size: 64px;
    background-color: rgba(245, 147, 0, 1);
    width: 45px;
    height: 260px;
    position: relative;
}
.info h1 span{
    position: absolute;
    top: -1px;
    left: -60px;
}
.map iframe{
    padding-left: 30px;
    padding-right: 30px;
}
.map .info{
    display: flex;
    justify-content: center;
}
.sign{
    width: 280px;
    height: 470px;
    background-color: #fff;
}
.sign img {
    width: 280px;
    height: 240px;
    background-size: cover;
    background-position: center center;
}

.sign li{
    font-size: 16px;
    padding:0 25px 0 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.material-symbols-outlined{
    font-size: 16px;
}
/* ----------------TO the top-------------- */
#btn {
    background-color: #fff;
    width: 85px;
    height: 85px;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    opacity:1;
    cursor: pointer;
    border: none;
  }
#btn img{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
}
  #btn:hover {
    background-color: rgba(120, 120, 120, 0.194);
  }
/* ----------------footer-------------- */
footer{
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: #583F00;
    color: #fff;
    font-size: 20px;
}
.footer{
    width: 100%;
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer img{
    display: block;
    height: 100px;
    margin-bottom: 1rem;
}

.footer p{
    display: block;
    text-align: right;
    color: white;
    margin-bottom: 1rem;
}

@media screen and (max-width: 414px) {
    body{
        width: 414px;
        margin: 0;
    }
    .wrapper{
        width: 414px;
        margin: 0;
    }
    header{
        background-color: rgba(0, 0, 0, 0.700);
        margin: 0;
        width: 414px;
        position: relative;
        z-index: 100;
        position: fixed;
    }
    .top{
        width: 414px;
        height:45px
    }
    .top img{
        height: 30px;
        margin-top: 7px;
        margin-left: 10px;
    }
    .bottom{
        position: absolute;
        left: 142px;
        bottom: 10px;
    }
    .bottom .inctr{
        height: 5px;
    }
    .block .shift .btn{
        width: 50px;  
        height: 50px;  
        font-size: 24px;
        margin: 135px -17px;
        cursor: pointer;
    }
    .menu{
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 1);
        top: 45px;
        left: 0px;
        width: 414px;
        padding-right: 0;
        display: none;
    }
    .animate__fadeInDown{
        animation-name:none !important;
    }
    .top li{
        width: 100%;
        margin: 0px 0px;
        line-height: 70px;
        border-bottom: 1px solid #ffffff;
    }
    .top li a{
        color: #fff !important;
    }
    .block{
        max-width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .block .container{
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        transition: all 1s;
    }
    .container img{
        max-width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit: cover;
        display: block;
    }
    .menu-icon{
        font-size: 15px;
        display: block;
        color: #fff;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    main{
        max-width: 100%;
        position: relative;
        padding-bottom: 50px;
    }
    .main-label h1{
        font-size: 30px;
        margin: auto 144px;
    }
    .label{
        max-width: 100%;
    }
    .label ul{
        width:auto;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 21px;
    }
    .label li{
        font-size: 12px;
        padding-left: 0;
    }
    .label li:nth-child(2)::before{
        content: '/ ';
        font-size: 12px;
    }
    .story{
        width: 414px;
        margin: auto;
    }
    .story ul{
        width: 414px;
        display: flex;
        flex-direction: column;
    }
    .story h1{
        font-size: 36px;
        writing-mode: horizontal-tb;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .story p{
        max-width: 100%;
        height: 419px;
        margin: auto;
        font-size: 27px;
        margin-bottom: 50px;
        letter-spacing:5px;
    }
    .img{
        width: 350px;
        height: 380px;
        margin: 0 auto;
    }
    .story li img::before{
        content:'';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 30px 10px rgba(255,255,255,.7) inset;
    }
    .food{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .food ul{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
    }
    .fir{
        width: 414px;
        height: 294px;
        background-position: center -195px;
    }
    .fir img{
        margin:-61px 0px 23px;
    }
    .sec{
        width: 414px;
        height: 294px;
    }
    .sec img{
        margin:-61px 0px 23px;
    }
    .thr{
        width: 414px;
        height: 270px;
        background-position: center -243px;
    }
    .thr img{
        margin:-84px 0px 23px;
    }
    .fou{
        width: 414px;
        height: 294px;
    }
    .fou img{
        margin:-61px 0px 23px;
    }
    .fit{
        width: 414px;
        height: 294px;
        background-position: center -275px;
    }
    .fit img{
        margin:-61px 0px 23px;
    }
    .news{
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .news ul{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .news h1{
        margin: 0 auto;
        writing-mode:horizontal-tb;
        font-size: 30px;
        width: 150px;
        height: 20px;
        position:relative;
        background-color: rgba(245, 147, 0, 1);
    }
    .news h1 span{
        position: absolute;
        top: -26px;
        left: 16px;
    }
    .news li{
        margin: 0 auto;
        border-bottom: 1px solid red;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .vedio{
        margin: 0 auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .vedio h1{
        margin: 0 auto;
        margin-bottom: 10px;
        writing-mode:horizontal-tb;
        font-size: 30px;
        width: 150px;
        height: 20px;
        position:relative;
        background-color: rgba(245, 147, 0, 1);
    }
    .vedio h1 span{
        position: absolute;
        top: -26px;
        left: 16px;
        
    }
    .vedio iframe{
        margin: auto 54px;
        max-width: 100%;
        width: 300px;
        height: 200px;
        padding-bottom: 0;
        position: relative;
    }
    .map{
        margin: 0 auto;
        max-width: 100%;
    }
    .map iframe{
        max-width: 100%;
    }
    .map h1{
        margin: 0 auto;
        margin-bottom: 10px;
        writing-mode:horizontal-tb;
        font-size: 30px;
        width: 150px;
        height: 20px;
        position:relative;
        background-color: rgba(245, 147, 0, 1);
    }
    .map h1 span{
        position: absolute;
        top: -26px;
        left: 16px;
    }
    .map iframe{
        margin: 0 auto;
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    .map li{
        margin: 0 auto;
    }
    .map .info{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sign{
        max-width: 100%;
        margin: 0 auto;
        height:425px;
    }
    #btn{
        width: 40px;
        height: 40px;
    }
    #btn img{
        width: 40px;
        height: 40px;
    }
    footer{
        margin: 0;
        max-width: 100%;
        height: 150px;
        background-color: #583F00;
        color: #fff;
        font-size: 12px;
    }
    .footer{
        width: auto;
        display: block;
        position: relative;
    }
    
    .footer img{
        display: none;
    }
    
    .footer p{
        position: absolute;
        top: 42px;
        left: 77px;
        display: block;
        text-align: center;
        color: white;
    }

}

