@import url('reset.css');

body{
    background-image: url('../picture/BG.jpg');
    background-color: rgb(168, 168, 0);
    background-blend-mode:hard-light;
    width: 100%;
    background-size: cover;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    line-height: 1.6;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}

/*---------------Top-------------------*/
header{
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    position: fixed;
    /* 用fixed不會占空間 */
    z-index: 100;
}
.top{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top img{
    height: 60px;
    margin-top: 10px;
}

.top li{
    float: left;
    margin-top: 21px;
    margin-right: 20px;
    font-size: 20px;
}


.top li a:hover{
    color: #B39300;
}

.block img{
    margin: 0 auto;
    display: block;
    width: 100%;
}


.top li a:hover{
    color: #B39300;
}

.block img{
    margin: 0 auto;
    display: block;
    width: 100%;
}
.menu-icon{
    display: none;
}

/* ----------------標籤-------------- */
main{
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}
.main-label h1{
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 64px;
    width: 260px;
    padding-top: 50px;
}
.label{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
}
.label ul{
    display: flex;
    justify-content: end;
}
.label li{
    font-size: 32px;
    padding-left: 10px;
}
.label li a{
    color: black;
}
.label li a:hover{
    color: rgb(168, 168, 0);
}
.label li:nth-child(2)::before{
    content: '/  ';
    font-size: 32px;
}
/* ----------------地圖-------------- */
.iframe{
    width: 1100px;
    margin: 0 auto;
    margin-left: 160px;
    padding-top: 100px;
    padding-bottom: 300px;
}
.info{
    position: relative;
}
.info ul{
    position: absolute;
    top: 30px;
    left: 630px;
    text-align: left;
}
.info ul li{
    padding-bottom: 10px;
    font-size: 30px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.material-symbols-outlined {
    box-sizing: border-box;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .logo{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    filter:sepia(60%);
}
.logo img{
    display: block;
    width: 300px;
    height: 300px;
}
/* ----------------footer-------------- */
footer{
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: #583F00;
    color: #fff;
    font-size: 20px;
}
.footer{
    width: 100%;
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer img{
    display: block;
    height: 100px;
    margin-bottom: 1rem;
}

.footer p{
    display: block;
    text-align: right;
    color: white;
    margin-bottom: 1rem;
}
@media screen and (max-width: 414px) {
    body{
        max-width: 100%;
        margin: 0;
    }
    .wrapper{
        max-width: 100%;
        margin: 0;
    }
    header{
        margin: 0;
        max-width: 100%;
        position: relative;
        z-index: 100;
        position: fixed;
    }
    .top{
        max-width: 100%;
        height:45px
    }
    .menu{
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 1);
        top: 45px;
        left: 0px;
        width: 100%;
        padding-right: 0;
    }
    .top li{
        width: 100%;
        margin: 0px 0px;
        line-height: 70px;
        border-bottom: 1px solid #ffffff;
    }
    .top img{
        height: 30px;
        margin-top: 7px;
        margin-left: 10px;
    }
    .block img{
        margin: 0;
        max-width: 100%;
    }
    .menu-icon{
        font-size: 15px;
        display: block;
        color: #fff;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    main{
        max-width: 100%;
        position: relative;
    }
    .main-label h1{
        width: auto;
        max-width: 100%;
        font-size: 30px;
        margin: auto 147px;
    }
    .label{
        max-width: 100%;
    }
    .label ul{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 21px;
    }
    .label li{
        font-size: 12px;
        padding-left: 0;
    }
    .label li:nth-child(2)::before{
        content: '/ ';
        font-size: 12px;
    }
    .iframe{
        max-width: 100%;
        margin-left: 0;
        padding-bottom: 150px;
        padding-top: 50px;
        margin: auto 0px;
    }
    iframe{
        width: 230px;
        height: 150px;
        padding-left: 5px;
    }
    .info ul{
        position: absolute;
        top: 0;
        left: 238px;
    }
    .info ul li{
        font-size: 10px;
        padding-bottom:5px;
    }
    .material-symbols-outlined {
    font-size: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }
    .material-symbols-outlined {
        box-sizing: border-box;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    footer{
        margin: 0;
        max-width: 100%;
        height: 150px;
        background-color: #583F00;
        color: #fff;
        font-size: 12px;
    }
    .footer{
        width: auto;
        display: block;
        position: relative;
    }
    
    .footer img{
        display: none;
    }
    
    .footer p{
        position: absolute;
        top: 42px;
        left: 73px;
        display: block;
        text-align: center;
        color: white;
    }

}